<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <!--扫描service-->
    <context:component-scan base-package="cn.mikulink"/>

    <!--读取properties配置文件 采用utf-8解决中文乱码-->
    <context:property-placeholder location="classpath:rabbitbot_re.properties" file-encoding="UTF-8"/>

    <!--定时器配置-->
    <import resource="spring-quartz.xml"/>

    <import resource="spring-redis.xml"/>




</beans>